<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <practice_section>
            <practice_group>
                <pracFi_enabled>1</pracFi_enabled>
                <pracFi_number>10</pracFi_number>
                <pracFi_attributte>Please select a attributes</pracFi_attributte>
                <pracFi_order>ASC</pracFi_order>
            </practice_group>
        </practice_section>
    </default>
</config>